@import "tailwindcss";

/* 👇 ACTIVAR DARK MODE POR CLASE */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-rumbo-orange: #fd6303;
    --color-rumbo-azul: #5d81d1;
    --color-rumbo-magenta: #dd474c;
    --color-bg-crema: #f9faf5;
    /* Familias tipográficas */
    --font-alegreya: "Alegreya Sans", sans-serif;
    --font-bree: "Bree Serif", serif;
}

@layer base {
  /* ESTO ACHICA EL LOGO */
    img {
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
}

/* Esconde la barra de scroll en el carrusel nativo */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* imagenes atrás del login*/
@keyframes floatSlow {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(-30px) translateX(20px); }
  100% { transform: translateY(0px) translateX(0px); }
}

@keyframes floatSlowReverse {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(30px) translateX(-20px); }
  100% { transform: translateY(0px) translateX(0px); }
}