@import "tailwindcss";

/* 👇 ACTIVAR DARK MODE POR CLASE */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-rumbo-orange: #fd6303;
    --color-rumbo-azul: #5d81d1;
    --color-rumbo-magenta: #dd474c;
    --color-bg-crema: #f9faf5;
    /* Familias tipográficas */
    --font-alegreya: "Alegreya Sans", sans-serif;
    --font-bree: "Bree Serif", serif;
}

@layer base {
  /* ESTO ACHICA EL LOGO */
    img {
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
}

/* Esconde la barra de scroll en el carrusel nativo */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



/* Elementos flotantes para el login */
@keyframes float1 {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(60px, -80px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes float2 {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(-80px, 60px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes float3 {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(40px, 40px); }
  100% { transform: translate(0px, 0px); }
}

.float-1 { animation: float1 18s ease-in-out infinite; }
.float-2 { animation: float2 22s ease-in-out infinite; }
.float-3 { animation: float3 25s ease-in-out infinite; }

/* Nuevas animaciones para Onboarding y UsersView */
@keyframes float4 {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(-30px, 50px); }
  100% { transform: translate(0px, 0px); }
}

.float-4 { animation: float4 20s ease-in-out infinite; }